aiohappyeyeballs==2.4.6
aiohttp==3.11.13
aiosignal==1.3.2
alembic==1.14.1
anndata==0.10.9
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
appnope
array_api_compat==1.10.0
asteroid-filterbanks==0.4.0
asttokens
async-timeout==5.0.1
attrs==25.1.0
audioread==3.0.1
av==11.0.0
Brotli==1.1.0
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
colorlog==6.9.0
comm
contourpy==1.3.0
cycler==0.12.1
debugpy
decorator
docker-pycreds==0.4.0
docopt==0.6.2
e3nn==0.5.5
einops==0.8.1
eval_type_backport==0.2.2
exceptiongroup
executing
ffmpeg==1.4
ffmpeg-python==0.2.0
filelock==3.17.0
fonttools==4.56.0
frozenlist==1.5.0
fsspec==2025.2.0
future==1.0.0
get-annotations==0.1.2
gitdb==4.0.12
GitPython==3.1.44
h5py==3.13.0
huggingface-hub==0.29.1
HyperPyYAML==1.2.2
idna==3.10
imageio==2.37.0
importlib_metadata
importlib_resources==6.5.2
ipykernel
ipython
jedi
Jinja2==3.1.5
joblib==1.4.2
julius==0.2.7
jupyter_client
jupyter_core
kafka-python==2.0.6
kiwisolver==1.4.7
lazy_loader==0.4
legacy-api-wrap==1.4.1
librosa==0.11.0
lightning==2.5.0.post0
lightning-utilities==0.12.0
llvmlite==0.43.0
Mako==1.3.9
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.9.4
matplotlib-inline
mdurl==0.1.2
mpmath==1.3.0
msgpack==1.1.0
multidict==6.1.0
munch==4.0.0
natsort==8.4.0
nest_asyncio
networkx==3.2.1
numba==0.60.0
numpy==2.0.2
omegaconf==2.3.0
opencv-python==4.11.0.86
opt-einsum-fx==0.1.4
opt_einsum==3.4.0
optuna==4.2.1
packaging
pandas==2.2.3
parso
patsy==1.0.1
pexpect
pickleshare
pillow==11.1.0
platformdirs
pooch==1.8.2
primePy==1.3
prometheus_client==0.21.1
prompt_toolkit
propcache==0.3.0
protobuf==5.29.3
psutil
ptyprocess
pure_eval
py-cpuinfo==9.0.0
pyannote.audio==3.3.2
pyannote.core==5.0.0
pyannote.database==5.1.3
pyannote.metrics==3.2.1
pyannote.pipeline==3.0.1
pycparser==2.22
pydantic==2.10.6
pydantic_core==2.27.2
Pygments
pynndescent==0.5.13
pyparsing==3.2.1
python-dateutil
pytorch-lightning==2.5.0.post0
pytorch-metric-learning==2.8.1
pytz==2025.1
PyYAML==6.0.2
pyzmq
requests==2.32.3
rich==13.9.4
ruamel.yaml==0.18.10
ruamel.yaml.clib==0.2.12
scanpy==1.10.3
scikit-image==0.24.0
scikit-learn==1.6.1
scipy==1.13.1
se3-transformer-pytorch==0.9.0
seaborn==0.13.2
semver==3.0.4
sentencepiece==0.2.0
sentry-sdk==2.22.0
session_info==1.0.0
setproctitle==1.3.5
shellingham==1.5.4
six
smmap==5.0.2
sortedcontainers==2.4.0
soundfile==0.13.1
soxr==0.5.0.post1
speechbrain==1.0.2
SQLAlchemy==2.0.38
stack_data
statsmodels==0.14.4
stdlib-list==0.11.1
sympy==1.13.1
tabulate==0.9.0
tensorboardX==2.6.2.2
threadpoolctl==3.5.0
tifffile==2024.8.30
torch==2.6.0
torch-audiomentations==0.12.0
torch_pitch_shift==1.2.5
torchaudio==2.6.0
torchmetrics==1.6.1
torchvision==0.21.0
tornado
tqdm==4.67.1
traitlets
trimesh==4.6.5
typer==0.15.1
typing_extensions
tzdata==2025.1
ultralytics==8.3.79
ultralytics-thop==2.0.14
umap-learn==0.5.7
urllib3==2.3.0
wandb==0.19.8
wcwidth
yarl==1.18.3
zipp==3.21.0
pytest==8.3.5
intervaltree==3.1.0